<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Business-Understanding" data-toc-modified-id="Business-Understanding-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Business Understanding</a></span></li><li><span><a href="#Data-Understanding" data-toc-modified-id="Data-Understanding-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Understanding</a></span></li><li><span><a href="#Data-Preparation" data-toc-modified-id="Data-Preparation-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Preparation</a></span></li><li><span><a href="#Modeling" data-toc-modified-id="Modeling-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Modeling</a></span><ul class="toc-item"><li><span><a href="#Logistic-Regression" data-toc-modified-id="Logistic-Regression-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Logistic Regression</a></span></li><li><span><a href="#K-Nearest-Neighbor" data-toc-modified-id="K-Nearest-Neighbor-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>K Nearest Neighbor</a></span></li><li><span><a href="#Decision-Tree" data-toc-modified-id="Decision-Tree-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Decision Tree</a></span></li><li><span><a href="#Random-Forest" data-toc-modified-id="Random-Forest-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Random Forest</a></span></li><li><span><a href="#Support-Vector-Machine" data-toc-modified-id="Support-Vector-Machine-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Support Vector Machine</a></span></li><li><span><a href="#Grid-Search" data-toc-modified-id="Grid-Search-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>Grid Search</a></span></li><li><span><a href="#Final-Model" data-toc-modified-id="Final-Model-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span>Final Model</a></span></li></ul></li><li><span><a href="#Evaluation" data-toc-modified-id="Evaluation-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Evaluation</a></span><ul class="toc-item"><li><span><a href="#Model-Performance" data-toc-modified-id="Model-Performance-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Model Performance</a></span></li><li><span><a href="#ML-Pipeline" data-toc-modified-id="ML-Pipeline-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>ML Pipeline</a></span></li></ul></li></ul></div>

# Business Understanding

# Data Understanding

# Data Preparation

In [1]:
import pandas as pd

df = pd.read_csv('data/travel_insurance.csv')
df.head()

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Net Sales,Commision (in value),Gender,Age
0,CBH,Travel Agency,Offline,Comprehensive Plan,No,186,MALAYSIA,-29.0,9.57,F,81
1,CBH,Travel Agency,Offline,Comprehensive Plan,No,186,MALAYSIA,-29.0,9.57,F,71
2,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,65,AUSTRALIA,-49.5,29.70,NaN,32
3,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,60,AUSTRALIA,-39.6,23.76,NaN,32
4,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,79,ITALY,-19.8,11.88,NaN,41

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63326 entries, 0 to 63325
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Agency                63326 non-null  object
 1   Agency Type           63326 non-null  object
 2   Distribution Channel  63326 non-null  object
 3   Product Name          63326 non-null  object
 4   Claim                 63326 non-null  object
 5   Duration              63326 non-null  int64
 6   Destination           63326 non-null  object
 7   Net Sales             63326 non-null  float64
 8   Commision (in value)  63326 non-null  float64
 9   Gender                18219 non-null  object
 10  Age                   63326 non-null  int64
dtypes: float64(2), int64(2), object(7)
memory usage: 5.3+ MB

In [6]:
na_cols = df.loc[df.isnull().any(axis=1),
                          df.columns[df.isnull().any()]].columns
na_cols

Index(['Gender'], dtype='object')

In [10]:
print(df.Gender.value_counts())
print(df.Gender.isna().sum())

M    9347
F    8872
Name: Gender, dtype: int64
45107

In [22]:
df_mod = df.drop('Gender',axis=1)
df_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63326 entries, 0 to 63325
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Agency                63326 non-null  object
 1   Agency Type           63326 non-null  object
 2   Distribution Channel  63326 non-null  object
 3   Product Name          63326 non-null  object
 4   Claim                 63326 non-null  int32
 5   Duration              63326 non-null  int64
 6   Destination           63326 non-null  object
 7   Net Sales             63326 non-null  float64
 8   Commision (in value)  63326 non-null  float64
 9   Age                   63326 non-null  int64
dtypes: float64(2), int32(1), int64(2), object(5)
memory usage: 4.6+ MB

In [23]:
df_mod.Claim = (df_mod.Claim=='Yes').astype(int)

In [24]:
df_dummy = pd.get_dummies(new_df,drop_first=True)
df_dummy.shape

(63326, 195)

In [19]:
new_df.Claim.value_counts()

No     62399
Yes      927
Name: Claim, dtype: int64

# Modeling

## Logistic Regression

## K Nearest Neighbor

## Decision Tree

## Random Forest

## Support Vector Machine

## Grid Search

## Final Model

# Evaluation

## Model Performance

## ML Pipeline